.u-floatRight {
    float: right;
}
.u-floatLeft {
    float: left;
}

@include gridle_generate_custom_class( ( 'u-textRight', '@', '%state' ) ) {
    text-align : right;
}

@include gridle_generate_custom_class( ( 'u-textLeft', '@', '%state' ) ) {
    text-align : left;
}

@include gridle_generate_custom_class( ( 'u-textCenter', '@', '%state' ) ) {
    text-align : center;
}


/**********
*** Margins
***********/

.u-marginTop-md {
    margin-top: $dim-30;

    @include gridle_state(m) {
        margin-top: $dim-15;
    }
}

.u-marginTop-lg {
    margin-top: $dim-45;
}

.u-marginTop-sm {
    margin-top: $dim-10;
}

.u-marginTop-30 {
    margin-top: $dim-30;
}

.u-marginBottom-15
{
    margin-bottom: $dim-15;
}

.u-marginBottom-30
{
    margin-bottom: $dim-30;
}

.u-marginBottom-md {
    margin-bottom: $dim-30;

    @include gridle_state(m) {
        margin-bottom: $dim-15;
    }
}

.u-marginBottom-60
{
    margin-bottom: $dim-60;
}

.u-marginBottom-90
{
    margin-bottom: 90px;
}

.u-no-margin {
    margin: 0;
}

.u-no-padding {
    padding: 0;
}

.u-paddingTop-md {
    padding-top: $dim-30;

    @include gridle_state(m) {
        padding-top: $dim-15;
    }
}

.u-paddingBottom-md {
    padding-bottom: $dim-30;

    @include gridle_state(m) {
        padding-bottom: $dim-15;
    }
}

.u-paddingTop-lg {
    padding-top: $dim-60;

    @include gridle_state(t) {
        padding-top: $dim-45;
    }

    @include gridle_state(m) {
        padding-top: $dim-30;
    }
}

.u-paddingBottom-lg {
    padding-bottom: $dim-60;

    @include gridle_state(t) {
        padding-bottom: $dim-45;
    }

    @include gridle_state(m) {
        padding-bottom: $dim-30;
    }
}

.u-overflow-h{
    overflow: hidden;
}

.u-fixheight{
    padding-bottom:1000px; /* @max-column-height */
    margin-bottom:-1000px;

    @include gridle_state(m)
    {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    @include gridle_state(m)
    {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.u-relPos {
    position: relative;
}

.u-triangle{
	width: 0;
    height: 0;
    margin: 5px 0 0 0;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
    border-style: solid;
    border-width: 4px 4.5px 0 4.5px;
    border-color: $color-black transparent transparent transparent;
}

.u-clearfix {
    @include clearfix();
}

.u-uppercase {
    text-transform: uppercase;
}

.u-color-black {
    color: $color-black;
}

.u-background-white {
    background-color: $color-white;
}

.u-image-content {
    font-size:0;
}

.u-hide\@d {
    @include gridle_state(d) {
        display: none;
    }
}

.u-hide\@t {
    @include gridle_state(t) {
        display: none;
    }
}

.u-hide\@m {
    @include gridle_state(m) {
        display: none;
    }
}

.u-block {
    display:block;
}