// Styleguide colors:

$color-black: #131313;
$color-white: #fff;

$color-gray-70: #595959;
$color-gray-40: #a1a1a1;
$color-gray-25: #c4c4c4;
$color-gray-10: #e7e7e7;

$color-blue-highlight-1: #285172;
$color-blue-highlight-2: #4f708b;
$color-blue-highlight-3: #899fb2;
$color-blue-highlight-4: #acbcc9;
$color-blue-highlight-5: #c9d3dc;
$color-blue-highlight-6: #e7ecf0;


//forms
$color-red-error: #dd0000;
$color-red-error-border: #9d1400;

//links
$color-link: #4fdbeb;
$color-link-hover: #41c2fe;
