/*---------------------------------
-----  dimension variables --------
----------------------------------*/

$btn-padding: 13px 37px;
$btn-padding-horz: 37px;
$btn-padding-vert: 8px;

/*------  standard elements padding & margin  -------*/

$dim-5: 5px;
$dim-10: 10px;
$dim-15: 15px;
$dim-30: 30px;
$dim-45: 45px;
$dim-60: 60px;
$dim-75: 75px;
